.projects-container {
  /* layout */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  /* size */
  width: 80%;
}
.project {
  /* design */
  text-align: center;
  cursor: pointer;
  opacity: 0.6;
  color: white;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  /* layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  /* size */
  width: 30%;
  height: 250px;
  /* position */
  position: relative;
  /* animation */
  transition: all 0.3s ease;
}
.projects-heading {
  /* design */
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  /* size */
  width: 30%;
  /* layout */
  margin: 20px auto;
}
.project::before {
  /* design */
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  /* size */
  width: 100%;
  height: 100%;
  /* position */
  position: absolute;
  z-index: -1;
}
.project:hover {
  /* design */
  opacity: 1;
  /* position */
  transform: scale(1.03);
}
.project img {
  /* design */
  object-fit: cover;
  width: 100%;
  /* position */
  position: absolute;
  z-index: -2;
}
