.qr-code-container {
  /* layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 10px;
  /* size */
  width: 50%;
}
.qr-code-container button {
  /* design */
  cursor: pointer;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  /* layout */
  padding: 5px 20px;
}
.qr-code-container button:active {
  transform: scale(0.98);
}
#qr-input {
  /* design */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid black;
  border-radius: 0;
  outline: none;
}
